*{
  margin: 0;
  padding: 0;
  border: 0;
}

#mytable_body{
  display: block;
  position: relative;
}
#mytable_body>div{
  position: absolute;
}
#mytable_side{
  left: 0px;
}
#mytalbe_data{
  left: 120px;
}
#mytable_body>div>div{
  display: table-row;
}
#mytable_side>div>div:first-child{
  border-left: 1px solid rgba(0,0,0,0.3);
}
#mytable_body>div>div>div{
  display: table-cell;
  /* float: left; */
  padding: 2px 4px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.3);
}

#mytable_side .holiday{
background-color: rgb(255, 202, 202);
}


#mytable_header{
  position: relative;
  display: block;
  min-height: 27px;
}
#mytable_header>div{
  display: inline;
  position: relative;
  float: left;
}
#mytable_header>div:first-child{
  display: table-row;
/* display: inline; */
padding: 2px 4px;
margin: 0;
border: 1px solid rgba(0,0,0,0.3);
}
#mytable_task{
display: table-row;
/* padding: 3px 0; */
}
#mytable_task > div{
display: table-cell;
  padding: 2px 4px;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.3);
  border-left: 0;
}
.process::before{
  content: '•';
}
