*{
  margin: 0;
  padding: 0;
  border: 0;
}

#mytable_body{
  /* display: block; */
  display: flex;
  position: relative;
}
#mytable_body>div{
  position: absolute;
}
#mytable_side{
  left: 0px;
}
#mytalbe_data{
  left: 120px;
  overflow-x: scroll;
  width: 100vh;
}
#mytable_body>div>div{
  display: table-row;
}
#mytable_side>div>div:first-child{
  border-left: 1px solid rgba(0,0,0,0.3);
}
#mytable_body>div>div>div{
  display: table-cell;
  /* float: left; */
  padding: 2px 4px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.3);
}

#mytable_side .holiday{
background-color: rgb(255, 202, 202);
}
.cell{
  height: 22px;
  min-width: 30px;
  white-space : nowrap;
}


#mytable_header{
  position: relative;
  display: block;
  min-height: 27px;
  overflow-x: hidden;
}
#mytable_header>div{
  display: inline-block;
  position: absolute;
  width: max-content;
  /* float: left; */
}
#mytable_header>div:first-child{
  /* display: table-row; */
/* display: inline; */
padding: 2px 4px;
margin: 0;
border: 1px solid rgba(0,0,0,0.3);
z-index: 1;
background-color: white;
}
#mytable_task{
display: table-row;
/* padding: 3px 0; */
}
#mytable_task > div{
display: table-cell;
  padding: 2px 4px;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.3);
  border-left: 0;
  min-width: 30px;
  white-space : nowrap;
  position: absolute;
}


#mytable_body {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.process{
  height: 22px;
}

.process::before{
  content: '•';
}


button{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}